/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7beef;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  margin-right: auto;
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
  background-color: #f7f7f7;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
  
  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .nav-links a {
    padding: 10px;
  }
}

/* Estilos para el cuerpo y la estructura principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3b8f2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.container h1 {
  text-align: center;
}

.container .contact-info {
  margin-top: 30px;
}

.container .contact-info p {
  margin-bottom: 10px;
}

.container .contact-info p strong {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .container .contact-info {
    margin-top: 20px;
  }
}

/* Estilos para la sección de imagen */
#imagen {
  text-align: center;
  margin-bottom: 30px;
}

#imagen h2 {
  margin-bottom: 10px;
}

/* Estilos para la imagen responsive en dispositivos móviles */
.responsive-image {
  max-width: 50%; /* La imagen no será más grande que su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción de aspecto */
}

@media screen and (max-width: 768px) {
  #imagen {
    padding: 0 10px;
  }

  .responsive-image {
    width: 50%;
    height: auto;
  }
}

/* Estilos para el pie de página */
footer {
  background-color: #f3b8f2;
  padding: 10px 20px;
  text-align: center;
}
