 @import 'base/variables';
 
.navbar {
  display: flex;
  align-items: center;

  /* Alinea verticalmente los elementos en el centro */
  padding: 10px 20px;
  background-color: $micolor;

  /* Color de fondo del navbar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  /* Sombra ligera en la parte inferior del navbar */
}

.logo {
  margin-right: auto;

  /* Empuja los enlaces a la derecha */
}

.nav-links {
  display: flex;
  gap: 20px;

  /* Espacio entre enlaces */

  a {
    text-decoration: none;

    /* Elimina el subrayado de los enlaces */
    color: #333;

    /* Color del texto de los enlaces */
    padding: 5px 10px;

    /* Espaciado interno para los enlaces */
    transition: background-color 0.3s ease;

    /* Efecto de transición para el hover */

    &:hover {
      background-color: #f7f7f7;

      /* Color de fondo al pasar el mouse sobre el enlace */
    }
  }
}
