* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  /* Estilos adicionales para otras secciones, si lo necesitas */

section {
    padding: 20px;
  }
  